<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <GenerateAppxPackageOnBuild>true</GenerateAppxPackageOnBuild>
    <WindowsPackageType>MSIX</WindowsPackageType>
    <AppxBundle>Always</AppxBundle>
    <UapAppxPackageBuildMode>StoreUpload</UapAppxPackageBuildMode>
    <AppxFilterOutUnusedLanguagesResourceFileMaps>false</AppxFilterOutUnusedLanguagesResourceFileMaps>
    <AppxPackageSigningEnabled>false</AppxPackageSigningEnabled>
  </PropertyGroup>
</Project>
