<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="BlukachDigital.EasyUtilities"
    Publisher="CN=662463A5-411A-4B22-8432-A85DC448DB94"
    Version="1.4.0.0" />

  <Properties>
    <DisplayName>EasyUtilities</DisplayName>
    <PublisherDisplayName>Blukach Digital</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US" />
    <Resource Language="uk-UA" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="EasyUtilities.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="EasyUtilities"
        Description="EasyUtilities. Requires Microsoft .NET 8.0 Desktop Runtime (x64)."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile
          Wide310x150Logo="Assets\Wide310x150Logo.png"
          Square310x310Logo="Assets\Square150x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
